.title {
  margin: 0 auto;
  font-size: var(--font-size-title-fluid);
  @media (min-width: 768px) {
    max-width: var(--container-max-width-narrow);
    text-align: center;
  }
}

.meta {
  @media (min-width: 768px) {
    max-width: var(--container-max-width-narrow);
    text-align: center;
  }
}
