.title {
  margin: 0 auto;
  font-size: var(--typography-fontSize-title-fluid);
  @media (min-width: 768px) {
    max-width: var(--layout-container-maxWidth-narrow);
    text-align: center;
  }
}

.meta {
  @media (min-width: 768px) {
    max-width: var(--layout-container-maxWidth-narrow);
    text-align: center;
  }
}
