@import "tailwindcss";
@import "../generated/tokens/variables-light.css";
@import "../generated/tokens/variables-dark.css";
@import "../components/Code/code.css";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@layer components {
  .layout-container {
    padding-inline: var(--layout-container-padding);
    @apply container mx-auto;
  }

  .text-meta {
    color: var(--content-text-muted);
    @apply text-sm uppercase;
  }

  .article-prose {
    @apply prose-lg lg:prose-xl mx-auto my-14;
  }
}

body {
  color: var(--content-text-body);
  background: var(--content-bg-page);
}
