.title {
  margin: 0 auto;
  font-size: clamp(1rem, 8vw, 6rem);
  @media (min-width: 768px) {
    max-width: 95%;
    text-align: center;
  }
}

.meta {
  @media (min-width: 768px) {
    max-width: 95%;
    text-align: center;
  }
}
