.avatar {
  display: inline-flex;
  position: relative;
}

.avatar > figure {
    display: block;
    overflow: hidden;
}

.avatar img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.maskSquircle {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
}

.mask {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}
