.pre {
  position: relative;
  overflow-x: auto;
  color: var(--color-base-white);
  background: var(--color-code-bg);
  @media (min-width: 1024px) {
    max-width: calc(100vw - (2 * var(--layout-container-padding, 1rem)));
    margin-right: var(--spacing-breakout);
    margin-left: var(--spacing-breakout);
  }
}

.languageIdClasses {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  padding: 0.25rem;
  line-height: 1;
  color: var(--content-code-badge-text);
  background: var(--content-bg-code-badge);
  border: 1px solid;
  border-radius: 3px;
}
